*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  border:2px solid green;
  width:600px;
  padding: 5px 20px;
  margin: auto;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
button{
  border:none;
  padding:8px 10px;
  border-radius: 5px;
  color:#fff;
  font-size: 17px;
}
.tasks{
  margin:20px 15px;
}